<main>
    <h1 class="text-center text-uppercase">Hello world!</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">3 title one two</h3>

    <hr>

    <div class="display-1 text-muted">Hello world!</div>
    <div class="display-5">Second</div>
    <div class="display-6">3 title</div>

    <hr>

    <div class="textmuted text-end">
        Додатковий <span class="display-6">текст</span>
    </div>


    <hr>

    <button class="btn btn-primary">
        <span class="text-uppercase">Test button</span>
        <h1>Text</h1>
    </button>

    <hr>

    <p class="text-secondary">
        My text
    </p>
    <p class="text-muted">
        My text
    </p>

    <hr>

    <button class=" btn btn-outline-primary">Додати</button>
    <button class=" btn btn-outline-secondary">Редагувати</button>
    <button class=" btn btn-outline-danger">Видалити</button>

    <hr>
    <button class=" btn btn-secondary btn-lg">Редагувати</button>
    <button class=" btn btn-danger btn-sm">Видалити</button>
    <button class=" btn btn-outline-danger btn-lg">Видалити</button>

    <hr>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <button class=" btn btn-secondary btn-lg">Редагувати</button>
            <button class=" btn btn-danger btn-sm">Видалити</button>
            <button class=" btn btn-outline-danger btn-lg">Видалити</button>
        </div>
    </div>


</main>