<main class="p-5">
    <div class="card">
        <div class="nav">
            <div class="nav-item">
                <a href="#" class="nav-link">Home page</a>
            </div>
            <div class="nav-item">
                <a href="/summary" class="nav-link">Catalog</a>
            </div>
            <div class="nav-item">
                <a href="/skills" class="nav-link">FAQ page</a>
            </div>
            <div class="nav-item">
                <a href="#" class="nav-link active">Bootstrap</a>
            </div>
            <div class="nav-item">
                <a href="#" class="nav-link active disabled">Contact</a>
                <button class="btn btn-primary">Button</button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-12 mb-5">
            <div class="nav nav-tabs">
                <div class="nav-item">
                    <a href="#" class="nav-link active">Main</a>
                    <br>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Catalog</a>
                    <br>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Shop list</a>
                    <br>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link active">Bootstrap</a>
                    <br>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link active disabled">Contact</a>
                    <br>
                    <button class="btn btn-primary">Button</button>
                </div>
            </div>

        </div>


        <div class="col-3 me-5">
            <div class="card">
                <div class="card-body">
                    <div class="nav flex-column">
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="#" class="nav-link">Home page</a>
                            </div>
                        </div>
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="/summary" class="nav-link">Catalog</a>
                            </div>
                        </div>
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="/skills" class="nav-link">FAQ page</a>
                            </div>
                        </div>
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="#" class="nav-link active">Bootstrap</a>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="card">
                                <a href="#" class="nav-link active disabled">Contact</a>
                            </div>
                            <br>
                            <button class="btn btn-primary">Button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="nav flex-column">
                        <div class="nav-item pb-2">
                            <div class="card">
                                <a href="#" class="nav-link">Home page</a>
                            </div>
                        </div>
                        <div class="nav-item pb-2">
                            <div class="card">
                                <a href="/summary" class="nav-link">Catalog</a>
                            </div>
                        </div>
                        <div class="nav-item pb-2">
                            <div class="card">
                                <a href="/skills" class="nav-link">FAQ page</a>
                            </div>
                        </div>
                        <div class="nav-item pb-2">
                            <div class="card">
                                <a href="#" class="nav-link active">Bootstrap</a>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="card">
                                <a href="#" class="nav-link active disabled">Contact</a>
                            </div>
                            <br>
                            <button class="btn btn-primary">Button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col-3 pe-5">
            <div class="card">
                <div class="pt-4 pb-3 px-4">
                    <div class="nav flex-column">
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="#" class="nav-link">Home page</a>
                            </div>
                        </div>
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="/summary" class="nav-link">Catalog</a>
                            </div>
                        </div>
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="/skills" class="nav-link">FAQ page</a>
                            </div>
                        </div>
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="#" class="nav-link active">Bootstrap</a>
                            </div>
                        </div>
                        <div class="nav-item">
                            <div class="card">
                                <a href="#" class="nav-link active disabled">Contact</a>
                            </div>
                            <br>
                            <button class="btn btn-primary">Button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-8">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">PC та Ноутбук</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Ноутбук MacBook</a>
                </li>
            </ol>
        </div>
        <div class="col-8">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">PC та Ноутбук</a>
                </li>
                <li class="breadcrumb-item">
                    Ноутбук MacBook
                </li>
            </ol>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">PC та Ноутбук</a>
                        </li>
                        <li class="breadcrumb-item">
                            Ноутбук MacBook
                        </li>
                    </ol>
                </div>

                <div class="col-12">
                    <h6>
                        Hello world!<span class="badge text-bg-primary rounded-pill text-uppercase">Топ продаж</span>
                    </h6>
                    <button class="btn btn-primary rounded-pill">Click me</button>
                    <div class="alert alert-warning">This is important info</div>

                    <div class="alert alert-warning">
                        <h6>
                            Hello world!<span class="badge text-bg-primary rounded-pill text-uppercase">Топ
                                продаж</span>
                        </h6>
                        <button class="btn btn-primary rounded-pill">Click me</button>

                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <button class="btn btn-primary rounded-pill mb-3">Click me</button>
                    <div class="alert alert-warning">
                        <h6 class="m-0 mb-2">
                            Hello world!<span class="badge text-bg-primary rounded-pill text-uppercase">Топ
                                продаж</span>
                        </h6>

                        <p class="m-0">This is info</p>
                    </div>

                </div>

            </div>

        </div>
    </div>
</main>