{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

{{!-- <div class="p-5">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <button type="button" class="btn btn-warning">Купити</button>
</div> --}}

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}



    <main class="m-3">
        {{#with main}}
        <div class="mt-5">
            <h2>{{title}}</h2>
        </div>
        <p class="mt-3 mb-5">{{description}}</p>
        <div>
            {{#each buttons}}
            {{>button}}
            <br>
            {{/each}}
        </div>
        {{/with}}
    </main>