{{#if isHot}}<span class="badge rounded-pill text-bg-warning text-light text-uppercase">Hot!</span>{{/if}}
{{#if isNew}}<span class="badge rounded-pill text-bg-primary">Нове</span>{{/if}}
{{#if isFast}}<span class="badge rounded-pill text-bg-success">Швидка доставка</span>{{/if}}
{{#if isFree}}<span class="badge rounded-pill text-bg-secondary">Безкоштовна доставкаа</span>{{/if}}