<a href="{{link}}" target="blank"
    class="btn btn-primary {{#if isPrimary}} btn-primary {{/if}} {{#if isSecondary}} btn-outline-secondary {{/if}} {{#if isDanger}} btn-outline-danger {{/if}} {{#if isSuccess}} btn-success {{/if}} {{#if isOutline}} btn-outline-success {{/if}} me-2 mb-3">{{text}}</a>