<div class="card m-3">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h5>{{name.firstname}} {{name.lastname}}</h5>
            </div>
            <div class="col-6">
                <h5 class="text-end">{{title}}</h5>
            </div>
        </div>
    </div>
</div>